body {
  background-color: rgb(23, 19, 36);
}

#container {
  width: 60%;
  margin: 100px auto;
}

h1 {
  color: blanchedalmond;
  text-align: center;
  text-decoration: wavy underline #5ea9e7 2px;
  font-family: "Courier New";
  font-size: 52px;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(37, 33, 51);
  border-style: none;
  outline-style: none;
  border-radius: 5px;
  color: blanchedalmond;
  font-size: 18px;
  font-family: "Lucida Console";
  font-weight: normal;
}

textarea:hover {
  border: 2px solid #b3dbf6;
}

button {
  border: none;
  border-radius: 2px;
  border: 1px solid #b3dbf6;
  background-color: #3078a8;
  color: blanchedalmond;
  font-size: 14px;
  padding: 5px;
  outline-style: none;
}
button:hover {
  background-color: #7babca;
  outline-style: 1px solid #ec0e0e;
}

button:nth-child(4n),
button:nth-child(5n) {
  margin-left: 5px;
  float: right;
}

section {
  margin: 50px 10px;
  font-family: "Lucida Console";
}

.outputsLexyxc {
  display: none;
}

.outputsSyntax {
  display: none;
}

ul {
  padding-left: 0;
  margin: 10px 10px;
  color: rgb(151, 169, 202);
}
li {
  margin-left: 5px;
  display: inline;
  font-weight: normal;
  color: blanchedalmond;
}
li:hover {
  border: 1px solid #b3dbf6;
}
.showLexic {
  display: block;
}

.showSyntax {
  width: 100%;
  padding: 20px 20px;
  border: 2px solid #b3dbf6;
  display: block;
  text-align: center;
  color: blanchedalmond;
}

.showSyntax ul {
  list-style-type: square;
  color: rgb(12, 240, 61);
}
.showSyntax li {
  display: block;
  font-weight: normal;
  color: #eb2d2d;
  margin: 5px 50px;
}

p {
  margin: 30px 0;
}
